---
BasedOnStyle: Microsoft
AlignConsecutiveAssignments: 'true'
Cpp11BracedListStyle: 'true'
NamespaceIndentation: All
PointerAlignment: Left
SpaceAfterTemplateKeyword: 'false'
Standard: "c++17"

...
