# Created by https://www.toptal.com/developers/gitignore/api/macos,cmake,c++
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,cmake,c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.toptal.com/developers/gitignore/api/macos,cmake,c++



### Manually added configurations ###

### VSCode ###
.vscode/

### CMSIS DSP ###
# For development on the Mac, 
# I have cloned CMSIS_5 (https://github. com/ARM-software/CMSIS_5) in the project root folder.
# It's not needed for development on MCUXpresso, so it will not be managed by Git.
CMSIS_5/
